.side-nav-container {
    height: calc(100vh - 65px - 40px);
    margin-top: 40px;
    background-color: #ffffff;
    display: block;

    .nav-list {
        a {
            color: #604033;
        }
    }
}

.menu-icon {
    color: #fffbbd;
    font-size: 40px;
    margin: 10px 10px;
}