$color: #75b99a;

.header {
    display: flex;
    height: 65px;
    background-color: $color;

    .icon {
        padding-right: 1%;
        .menu-icon {
            color: #fffbbd;
            font-size: 40px;
            margin: 10px 10px;
            cursor: pointer;
            &:hover {
                color: #634338;
            }
        }
        &:hover {
            background-color: darken($color,15%);
        }
    }
}