$color: #6d4836;

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    height: 65px;
    background-color: $color;

    .menu-options {
        margin-right: 1vw;
        a {
            text-decoration: none;
            font-family: jaime-blues;
            font-size: 36px;
            color: #fffbbd;
            padding: 5px 15px;

            &:hover {
                color: #f17f1d;
            }

        }
    }
}