<app-header></app-header>
<div class="content">
    <img class='logo' src='assets/logo.png'/>
    <a name="about-us"></a>
    <div class="description">
        <span class="heading">About Us</span>
        <p>
            With everybody trying to find their inner self in this busy world, travelling has become commonplace.
            Our custom-made, affordable caravans are the best travel companion for all you wild travelers out there!
            Caravanning is popular across Europe and the US. It provides you the comfort of home during travels, and a chance to explore nooks and corners of the country without having to think about accommodation, travel times and budgets.
        </p>
        <p>
            Living in a beautiful country like India, Trippy Wheels is giving you an opportunity to explore the country like never before. Freedom during travel is a priceless gift we are offering. Come travel with us and take an unforgettable story back home!
        </p>
    </div>
</div>