.logo {
    width: 100%;
}
.content {
    font-size: 20px;
    display: flex;
    flex-direction: column;

    .description {
        display: flex;
        align-self: center;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 70vw;

        img {
            width: 50%;
        }
    }

    .heading {
        font-family: jaime-blues;
        font-size: 3em;
        color: #f17f1d;
    }

    p {
        font-family: vertical-brushy;
        font-size: 1em;
        color: #6ca89a;
    }
}


// Header

$color: #6d4836;

.header {
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    height: 65px;
    background-color: $color;

    .hamburger-menu {

        padding-right: 25px;
        color: #fffbbd;

        mat-icon {
            font-size: 2em;
        }

        &:hover {
            color: #f17f1d;
        }
    }

    .menu-options {
        margin-right: 1vw;
        a {
            text-decoration: none;
            font-family: jaime-blues;
            font-size: 2em;
            color: #fffbbd;
            padding: 5px 15px;

            &:hover {
                color: #f17f1d;
            }
        }
    }
}

.sidenav {
    width: 35vw;
    background-color: #504f4f;

    .sidenav-item {
        color: #fffbbd;
        font-size: 2em;
        font-family: jaime-blues;
        text-decoration: none;
        padding: 5px;

        &:first-child {
            padding-top: 15px;
        }

        &:hover {
            color: #f17f1d;
        }
    }
}