.logo {
    width: 100%;
}

.main-content {
    height: 100%;
    box-sizing: border-box;
    position: relative;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow-y: auto;

    .sidenav {
        width: 25vw;
        background-color: #f27813;

        .sidenav-item {
            color: #fffbbd;
        }
    }

    .content {
        padding: 1%;
    }
}