<div class="header">
    <div class="menu-options" fxShow="true" fxHide.lt-md="true">
        <a href="#about-us" class="option">About Us</a>
        <a href="#caravans" class="option">Caravans</a>
        <a href="#base-camps" class="option">Base Camps</a>
        <a href="#contact" class="option">Contact</a>
    </div>
    <div fxShow="true" fxHide.gt-sm="true">
        <a class="hamburger-menu" (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></a>
    </div>
</div>
<mat-sidenav-container fxFlexFill class="example-container">
    <mat-sidenav fxLayout="column" mode="side" class="sidenav" #sidenav>
        <div fxLayout="column">
        <a (click)="sidenav.toggle()" href="#about-us" class="sidenav-item">About Us</a>
        <a (click)="sidenav.toggle()" href="#caravans" class="sidenav-item">Caravans</a>
        <a (click)="sidenav.toggle()" href="#base-camps" class="sidenav-item">Base Camps</a>
        <a (click)="sidenav.toggle()" href="#contact" class="sidenav-item">Contact</a>
        </div>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
        <div class="content">
            <img class='logo' src='assets/logo.png'/>
            <a name="about-us"></a>
            <div class="description">
                <span class="heading">About Us</span>
                <p>
                    With everybody trying to find their inner self in this busy world, travelling has become commonplace.
                    Our custom-made, affordable caravans are the best travel companion for all you wild travelers out there!
                    Caravanning is popular across Europe and the US. It provides you the comfort of home during travels, and a chance to explore nooks and corners of the country without having to think about accommodation, travel times and budgets.
                </p>
                <p>
                    Living in a beautiful country like India, Trippy Wheels is giving you an opportunity to explore the country like never before. Freedom during travel is a priceless gift we are offering. Come travel with us and take an unforgettable story back home!
                </p>
            </div>
            <a name="caravans"></a>
            <div class="description">
                <span class="heading">Caravans</span>
                <img src='assets/caravan.jpg'/>
                <p>
                    2 to 3 sleep capacity, kitchenette with basic cooking ingredients, linen, self-drive or with driver
                </p>
            </div>
            <a name="base-camps"></a>
            <div class="description">
                <span class="heading">Base Camps</span>
                <p>
                    We have tie-ups with places for safe and secure parking overnight. One can also use facilities and services as and when required.
                </p>
            </div>
            <a name="contact"></a>
            <div class="description">
                <span class="heading">Contact Us</span>
                <p>
                    TODO: Add contact details
                </p>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>