.logo {
    width: 100%;
}
.content {
    padding: 1%;
    font-size: 20px;
    display: flex;
    flex-direction: column;

    .description {
        display: flex;
        align-self: center;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 70vw;
    }

    .heading {
        font-family: jaime-blues;
        font-size: 80px;
        color: #f17f1d;
    }

    p {
        font-family: vertical-brushy;
        font-size: 36px;
        color: #75b9aa;
        padding: 3%;
    }
}